.card {
    border-radius: 10px!important;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px!important;
    width: 100%!important;
    height: 100%!important;
}

ul li {
    display: flex!important;
    cursor: pointer;
}

.secondary {
    color: #c1cee0!important; 
}

.card {
    position: relative;
}

input {
    width: 20px!important;
    height: 20px!important;
}

.content_status > li {
    font-size: 14px;
}

.fa-caret-down {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.option_icon {
    max-width: 40px!important;
}

@media only screen and (max-width: 1200px) {
    .card_content {
        flex-direction: column;
    }

    .card_content_1 {
        max-width: 50%!important;
        margin-bottom: 20px
    }

    .card_content_2 {
        max-width: 100%!important;
        margin-bottom: 40px
    }
}


@media only screen and (max-width: 993px) {
    .card_content {
        flex-direction: column;
    }

    .card_content_1 {
        max-width: 70%!important;
        margin-bottom: 20px
    }

    .card_content_2 {
        max-width: 100%!important;
        margin-bottom: 40px
    }
}


@media only screen and (max-width: 768px) {
    .card_content_1 > .row > div {
        padding-left: 16px;
    }

    .card_content_2 {
        max-width: 100%!important;
        margin-bottom: 40px
    }

    .content_status {
        flex-direction: column;
    }
    .content_status > li {
        border-bottom: 1px solid #c1cee0;
        width: 100%;
    }

    .option_icon > ul {
        height: 40%!important;
    }
}

@media only screen and (max-width: 375px) {
    .card_content_1 {
        max-width: 90%!important;
    }
}

@media only screen and (max-width: 320px) {
    .card_content_1 {
        max-width: 98%!important;
    }
}